.*
\.deps
\.libs
*\.in
*~
*\.o
*\.lo
*\.la

# mand build files
mand/dmctrl
mand/mand
mand/p_table.c
mand/p_table.h
mand/p_table_stubs.c

# libdmconfig build files
libdmconfig/codes.h
libdmconfig/extensivedump.out
libdmconfig/tests/event_client_sample

# lua build files
lua/fncAdminPasswd.out
lua/fncPostVersionCheck.out
lua/fncPreVersionCheck.out
lua/fncStartup.out

# doxygen
doxygen-doc/

# automake / autoconf files
autom4te.cache/
config/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
shtool
libtool
aclocal.m4
INSTALL
configure
Makefile
config.h
config.log
config.status
stamp-h1

# build directories
/build*

# pyang plugin
OpenCPE.pyc
p_table*
dm_action_*

!.gitignore
!.arcconfig
